body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 5px;
}

.container {
  /* position: relative; */
  /* justify-content: center; */
  /* border: 1px solid #ddd; */
  margin: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
}
.prose-container {
  height: 500px;
  overflow-y: scroll;
}
#prose {
  margin-left: 95%;
}
#prose .step {
  height: 500px;
  margin-top: 150px;
}
#map-h1 {
  margin-left: 0%;
  width: 800px;
  position: fixed;
  display: inline-block;
}
#map {
  display: block;
  position: fixed;
  width: 600px;
  margin-top: 60px;
}
.disabled {
  pointer-events: none;
}
#scatterplot {
  position: fixed;
  width: 500px;
  top: 65%;
}
.geo-path:hover {
  stroke: #333;
}

#map-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

#filterScatter {
  position: fixed;
  width: 300px;
  margin-top: 27%;
  top:10%;
}

.scatterplot {
  position: absolute;
  margin-right: 30px;
  margin-top: 30%;
}

#scatterplot-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 11px;
  font-weight: 500;
  padding: 10px;
  color: #333;
  z-index: 100;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

#mapWidgets {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  position: fixed;
  margin-top: 0;
  margin-left: 28%;
  padding-right: 50px;
  background-color: #fff;
  top: 5%;
  z-index:1;
}

#mapSearch {
  height: 20px;
}

#spider {
  position: fixed;
  display: block;
  top: 55%;
  left: 50%;
  z-index: 10;
}

#spider-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 11px;
  font-weight: 500;
  padding: 10px;
  color: #333;
  z-index: 100;
}

#smiley {
  position: fixed;
  display: block;
  top: 60%;
  left: 43%;
  /* max-height: 105px; */
  /* overflow-y: hidden; */
}

footer a,
footer a:hover,
footer a:visited {
  color: #d2a000;
}
.text-small {
  font-size: 12px;
  font-style: italic;
}
footer {
  color: white;
  padding-top: 5px;
  border-top: 1px solid gray;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: black;
  text-align: center;
}
pre {
  height: 200px;
  font-size: 9px;
  overflow-y: scroll;
}
.form-control-inline {
  display: inline;
  width: 40px;
  margin-right: 5px;
}
.configuration {
  font-size: 0.8em;
  width: 250px;
  border: 1px solid #ddd;
  padding-left: 20px;
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 20px;
}

.scatter-plot.selected {
  stroke: orange;
  stroke-width: 3;
}
/* Customizable classes used in D3 vis, uncomment to customize
.svg-vis {
  background-color: gray;
  opacity: 0.5;
}
.verticesTooltip {
  position: absolute;
  color: red;
  font-size: 12px;
  width: 100px;
  height: auto;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  background: #f4f4f;
}
.level-lines {
  stroke: red;
  stroke-width: 1px;
}

.axis-lines {
  stroke: blue;
  stroke-width: 2px;
}

.axis-labels {
  fill: blue;
  font-size: 12px;
}

.polygon-vertices {
  fill-opacity: 0.6;
}
.polygon-areas {
  fill-opacity: 0.6;
}
*/
.legend-tiles {
  fill-opacity: 0.3;
}
.legend-labels {
  font-size: 15px;
}

.geo-path.active {
  fill: #F4CF49;
  opacity: 1;
}
.disabled {
  pointer-events: none;
}
.ui-autocomplete {
  position: fixed !important;
}

#desc{
  display: block;
  position: fixed;
  width: 210px;
  transform: translate(0,50px);
  text-align: left;
}